body {
	padding: 500px 50px;
}

.itm-line {
	position: relative;
}

.itm-line-svg {
	position: absolute;
	left: 0;
	top: 0;
}

.itm-line-path {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 1;
}

.itm-line-path-active {
	position: absolute;
	left: 0;
	top: 0;

	z-index: 2;
}

.item-1 {
	height: 3000px;
}

.item-2 {
	height: 100px;
}

.item-3 {
	height: 200px;
}

.item-4 {
	height: 300px;
}

.item-6 {
	height: 300px;
}

.item-7 {
	height: 2000px;
}

.item-8 {
	height: 200px;
}

.item-9 {
	height: 300px;
}

.item-10 {
	height: 700px;
}

.item-11 {
	height: 300px;
}
